extends layout

block content
  body
  header.header
    h1= title
  aside.sidebar
    ul
      li Home
      li About
      li Contact
  main.content
      .hero
        img(src="/images/NewModelY_78.jpg" alt="Hero Image")
        .hero-text
          h2 Welcome to My App
          p This is the main content area.
